---

---

<section class="bg-pink-700 py-12 text-center space-y-6">
  <h2 class="text-3xl md:text-4xl">Ready to Start Your Coding Adventure?</h2>
  <p class="text-lg opacity-90">
    Join thousands of curious kids learning to code with our fun, engaging
    tutorials!
  </p>
  <div class="flex flex-wrap justify-center gap-4">
    <a
      href="https://www.youtube.com/@Curious-Coders"
      class="bg-pink-600 drop-shadow-2xl text-primary px-6 py-3 rounded-full font-bold flex items-center gap-2 hover:bg-pink-800 transition-colors"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-youtube"></i>
      Subscribe on YouTube
    </a>
    <!-- <a
      href="#newsletter"
      class="bg-black bg-opacity-30 text-white px-6 py-3 rounded-full font-bold flex items-center gap-2 hover:bg-opacity-40 transition-colors"
    >
      <!-- <BookOpenIcon size={20} /> 
      Sign up for email updates
    </a> -->
  </div>
  <iframe
    width="540"
    height="305"
    src="https://30401dc9.sibforms.com/serve/MUIFAJ5-FsN3BT3GOxVaO0naReFxEcYc_BhFnrtGa22jqJgyitjLP91MfMpSZChyYk2bfd0rgxXEXHeP-e_EIxMtaSlueS1C30XGFXIA6YQ-h-p4SV35EXu_QYxcxB1XSHRlzLd-asKu1b6B4xG38lPGn5JhnmcKGzOEYNzdZdRrwIFTJo9XHSZFAEGA9cLASMWQo8fwqThrdXk8"
    frameborder="0"
    scrolling="auto"
    allowfullscreen
    style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"
  ></iframe>
</section>
