---
import Container from "./Container.astro";
//TODO Load header image

import { Picture } from 'astro:assets';
import heroImage from '../assets/cc-logo.png';
---

<section class="mt-[-90px] pt-20 h-200 bg-gray-500 bg-[url(/public/hero-bg.png)] bg-blend-overlay">
  <Container>
    <div class="px-8 pt-6 pb-2 flex flex-col items-center text-center">
      <Picture class="w-48 md:w-72 rounded-full" src={heroImage} formats={['avif', 'webp']} alt="A description of my image." />
      <div class="bg-black/75 px-6 py-4 my-8 rounded-2xl max-w-180">
        <h2 class="text-3xl font-bold text-pink-500 my-4 mx-auto">
          Tech Tutorials for Curious Kids
        </h2>
        <p class="text-lg mb-6">
          Fun and engaging coding & tech videos that spark creativity and build tech skills for the future!
        </p>
      </div>
      <button
        class="bg-pink-700 hover:bg-opacity-80 text-white font-bold p-4 px-6 button rounded-full transition-colors"
      >
        Subscribe
      </button>
    </div>
  </Container>
</section>
