---
---
<div class="nav-links md:flex md:space-x-4">
    <a href="/" class="md:px-2 md:py-1 hover:text-primary">Home</a>
    <a href="/about/" class="md:px-2 md:py-1 hover:text-primary">About</a>
    <a href="/blog/" class="md:px-2 md:py-1 hover:text-primary">Blog</a>
</div>