---
import config from '../../config.js';
import { Image } from 'astro:assets';
---

<div class="text-center">
  <Image
    src={config.user.profileImage}
    alt={config.user.name}
    width={64}
    height={64}
    class="w-36 h-36 rounded-full mx-auto mb-4"
  />
  <h1 class="text-5xl text-pink-500 font-extrabold tracking-wide pb-4">{config.user.name}</h1>
  <p class="text-slate-50 front-semibold tracking-wide">{config.user.bio}</p>
</div>
